#song-card{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgba(206, 198, 198, 0.65);
  border: 2px black solid;
}

#size{
  height: 63px;
  width: 63px;

}

#card-title {
  color: rgb(0, 0, 1);
}

